.button {
  border: none;
  padding: .8rem 2rem;
  border-radius: 1.5rem;
  background-image: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
  color: var(--White);
  font-weight: 700;
}

.button:hover {
  cursor: pointer;
  opacity: .8;
}