.container {
  background-color: var(--DarkBlue);
  padding: 2.5rem 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 2.5rem;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: .9rem;
}

.socialMediaIcon path:hover {
  cursor: pointer;
  fill: var(--LimeGreen);
}

.list {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  row-gap: .9rem;
  column-gap: 8.5rem;
}

.item {
  color: var(--LightGrayishBlue);
  font-size: .9rem;
  font-weight: 300;
}

.others {
  flex-grow: 3;
  text-align: right;
}

.copyright {
  font-size: .8rem;
}

@media (max-width: 375px) {
  .container {
    padding: 2.5rem 5rem;
    flex-direction: column;
    row-gap: 2rem;
  }

  .content {
    flex-direction: column;
    row-gap: 2rem;
  }

  .contact {
    row-gap: 2rem;
  }

  .socialMediaIcon {
    /* font-size: 1rem; */
  }
  
  .list {
    grid-auto-flow: row;
    text-align: center;
    justify-content: center;
  }

  .item {
    font-size: .9rem;
    font-weight: 400;
  }

  .others {
    text-align: center;
  }
}