.homeContainer {
  display: flex;
  align-items: center;
  height: 42rem;
  background-color: var(--VeryLightGray);
}

.homeContainer:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../assets/bg-intro-desktop.svg") no-repeat right top;
  top: -10.8rem;
  right: -28.5rem;
  z-index: 0;
}

.homeContent {
  flex-basis: 38.5%;
}

.imgMockups {
  position: absolute;
  top: -2.3rem;
  right: -8.2rem;
  z-index: 3;
}


@media (max-width: 375px) {
  .homeContainer {
    display: inline-block;
    padding-top: 26rem;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .homeContainer:after {
    background: url("../assets/bg-intro-mobile.svg") no-repeat right top;
    top: 1.5rem;
    right: 0;
  }

  .imgMockups {
    width: 100%;
    top: -4.2rem;
    right: 0;
  }
}