.nav {
  display: flex;
  position: relative;
  z-index: 9999;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1.2rem 9rem;
  background-color: var(--White);
}

.navItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.8rem;
}

.navLink {
  color: var(--GrayishBlue);
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 375px) {
  .nav {
    padding: 1.3rem 1.5rem;
  }

  .navItem{
    flex-direction: column;
    display: none;
  }

  .nav button {
    display: none;
  }
}