.offersContainer {
  background-color: var(--LightGrayishBlue);
  position: relative;
  z-index: 2;
}

.offersDescription {
  width: 55%;
}

.offersList {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  column-gap: 1.9rem;
  margin-top: 5rem;
}

.offersList p {
	color: var(--GrayishBlue);
	margin-top: 1.5rem;
	font-size: 1rem;
	font-weight: 400;
}

.offersIcon {
  border-radius: 50%;
  background-image: linear-gradient(to right bottom, var(--LimeGreen), var(--BrightCyan));
  margin-bottom: 2.5rem;
}

@media (max-width: 375px) {
  .offersDescription {
    width: 100%;
    text-align: center;
  }

  .offersList {
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 4rem;
  }

  .offersItem {
    text-align: center;
  } 

  .offersList p {
    font-size: .9rem;
  }

  .offersIcon {
    margin-bottom: 1rem;
  }
}